.Solar {
  background: rgb(248, 128, 59) !important;
}

.Hydroelectric {
  background: rgb(59, 194, 248) !important;
}

.Wind {
  background: rgb(59, 70, 226) !important;
}

.Oil-Based {
  background: rgb(136, 28, 8) !important;
}

.Biomass {
  background: rgb(233, 170, 241) !important;
}

.NaturalGas {
  background: rgb(181, 201, 96) !important;
}

.Geothermal {
  background: rgb(245, 209, 130) !important;
}

.Coal {
  background: rgb(77, 64, 37) !important;
}

// marker styles
.map-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .marker-info {
    pointer-events: none;
    display: none;
    position: absolute;
    width: 300px;
    margin-top: -130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .marker-info-content {
    background: #fff;
    border-top: 4px solid rgb(60, 128, 230);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 0px;
    // position: absolute;
    // width: 250px;
    // top: -100px;
    // left: -50px;
    z-index: 9;
    // display: none;

    .content {
      background: #fff;
      border-bottom: 0.3px solid #ddd;
      padding: 8px 15px 4px;
    }

    span {
      display: block;
      font-weight: 700;
    }

    small {
      text-transform: uppercase;
      color: rgb(43, 42, 42);
      position: relative;
      top: -4px;
    }

    .badge {
      position: relative;
      margin: 10px 15px 5px !important;
      font-size: 10px;
    }
  }

  &.suggested-area {
    // z-index: 99;

    .marker-info {
      margin-top: -80px;
      z-index: 999 !important;
    }

    .marker-info-content {
      border-top: 8px solid rgb(53, 255, 161);
    }

    &.area-marker {
      .marker-info-content {
        border-top: 8px solid rgb(97, 53, 255);
      }
    }
  }

  .info-point {
    background: #fff;
    height: 15px;
    width: 20px;
    clip-path: polygon(100% 0, 0 0, 52% 100%);
    position: relative;
    top: -20px;
    z-index: 2;
  }

  .marker {
    $size: 8px;
    height: $size;
    width: $size;
    border: 0.1px solid #fff;
    transform: rotate(40deg);
    // opacity: 0.7;

    &.suggested-area {
      background: rgba(138, 240, 138, 0.959) !important;
      transform: none;
      $size: 10px;
      height: $size;
      width: $size;
      border-radius: 100%;

      opacity: 1;
      transition: 0.3s;
      z-index: 1;

      &:hover {
        // opacity: 0.3;
        transition: 0.3s;
        // border-radius: 0px;
        // border: 0.00000001px dashed #fff;
        cursor: pointer;
      }
    }
  }

  &:hover {
    .marker-info {
      display: flex;

      &.suggested-area {
        display: none !important;
      }
    }
  }

  &.active-marker {
    .marker-info {
      display: flex;
      // display: none;
    }
    .marker {
      &.suggested-area {
        border: 2px solid rgb(253, 253, 253);
        opacity: 0.3;
        $size: 120px;
        height: $size;
        width: $size;
      }
    }
  }
}

// marker legends

.marker-infos {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;

  @media (max-width: 600px) {
    display: none;
  }
}

.marker-legends {
  padding: 10px 18px;
  background: rgba(0, 0, 0, 0.486);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 7px;
  margin-bottom: 10px;

  small {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }

  ul {
    border-top: 0.3px solid rgba(221, 221, 221, 0.644);
    margin-top: 10px;
    padding-left: 0px;
    list-style: none;

    li {
      font-size: 13px;
      display: flex;
      padding-bottom: 4px;

      .label-icon {
        $size: 10px;
        height: $size;
        width: $size;
        margin-right: 8px;
        position: relative;
        bottom: -5px;
        transform: rotate(40deg);
        border: 0.3px solid #fff;

        &.Off-Grid {
          bottom: -4px;
          border-radius: 100%;
          $size: 12px;
          height: $size;
          width: $size;
          background: rgb(113, 241, 113) !important;
        }

        &.pointer-marker {
          bottom: -4px;
          border-radius: 100%;
          $size: 9px;
          height: $size;
          width: $size;
          // background: #59ffdee3 !important;
        }
      }
    }
  }

  .labels {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    span {
      font-size: 12px;
    }
  }
}

.progress-bar {
  border: 0.3px solid rgba(221, 221, 221, 0.329);
}

.energy-demand-gradient {
  &.dark {
    background: linear-gradient(
      to left,
      #0b1c71 ,
      #36A8B8 ,
      #FEFFC1 
    );
  }

  &.light,
  &.street {
    background: linear-gradient(
      to left,
      #0b1c71a6 ,
      #36a9b89c ,
      #feffc1ab 
    );
  }

  &.satellite {
    background: linear-gradient(
      to left,
      #0b1c71 ,
      #36A8B8 ,
      #FEFFC1 
    );
  }
}
